In [19]:
import pandas as pd
from pandas_profiling import ProfileReport
import sweetviz as sv
from autoviz.AutoViz_Class import AutoViz_Class

In [12]:
profile =ProfileReport(pd.read_csv('/Users/swanand-walke/Downloads/Dataset 3/data6/blackFriday_test.csv'),explorative=True)

In [13]:
profile.to_file('blackfriday_output.html')

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

/Users/swanand-walke/opt/anaconda3/lib/python3.9/site-packages/scipy/stats/_stats_py.py:5215: RuntimeWarning: overflow encountered in long_scalars
  (2 * xtie * ytie) / m + x0 * y0 / (9 * m * (size - 2)))

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [14]:
df =pd.read_csv('/Users/swanand-walke/Downloads/Dataset 3/data6/blackFriday_test.csv')

In [15]:
df.shape

(233599, 11)

In [16]:
df.isnull().sum()

User_ID                            0
Product_ID                         0
Gender                             0
Age                                0
Occupation                         0
City_Category                      0
Stay_In_Current_City_Years         0
Marital_Status                     0
Product_Category_1                 0
Product_Category_2             72344
Product_Category_3            162562
dtype: int64

In [17]:
sweet_report = sv.analyze(pd.read_csv('/Users/swanand-walke/Downloads/Dataset 3/data6/blackFriday_test.csv'))

                                             |      | [  0%]   00:00 -> (? left)

In [18]:
sweet_report.show_html('sweet_report.html')

Report sweet_report.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

In [20]:
AutoViz_Class().AutoViz('/Users/swanand-walke/Downloads/Dataset 3/data6/blackFriday_test.csv')

    max_rows_analyzed is smaller than dataset shape 233599...
        randomly sampled 150000 rows from read CSV file
Shape of your Data Set loaded: (150000, 11)
#######################################################################################
######################## C L A S S I F Y I N G  V A R I A B L E S  ####################
#######################################################################################
Classifying variables in data set...

    11 Predictors classified...
        No variables removed since no ID or low-information variables found in data set
Since Number of Rows in data 150000 exceeds maximum, randomly sampling 150000 rows for EDA...
Number of All Scatter Plots = 3

[nltk_data] Downloading collection 'popular'
[nltk_data]    |
[nltk_data]    | Downloading package cmudict to /Users/swanand-
[nltk_data]    |     walke/nltk_data...
[nltk_data]    |   Package cmudict is already up-to-date!
[nltk_data]    | Downloading package gazetteers to /Users/swanand-
[nltk_data]    |     walke/nltk_data...
[nltk_data]    |   Package gazetteers is already up-to-date!
[nltk_data]    | Downloading package genesis to /Users/swanand-
[nltk_data]    |     walke/nltk_data...
[nltk_data]    |   Package genesis is already up-to-date!
[nltk_data]    | Downloading package gutenberg to /Users/swanand-
[nltk_data]    |     walke/nltk_data...
[nltk_data]    |   Package gutenberg is already up-to-date!
[nltk_data]    | Downloading package inaugural to /Users/swanand-
[nltk_data]    |     walke/nltk_data...
[nltk_data]    |   Package inaugural is already up-to-date!
[nltk_data]    | Downloading package movie_reviews to /Users/swanand-
[nltk_data]    |     walke/nltk_data...
[nltk_data]    |   Package movie_reviews is already up-to-date!
[nltk_data]    | Downloading package names to /Users/swanand-
[nltk_data]    |     walke/nltk_data...
[nltk_data]    |   Package names is already up-to-date!
[nltk_data]    | Downloading package shakespeare to /Users/swanand-
[nltk_data]    |     walke/nltk_data...
[nltk_data]    |   Package shakespeare is already up-to-date!
[nltk_data]    | Downloading package stopwords to /Users/swanand-
[nltk_data]    |     walke/nltk_data...
[nltk_data]    |   Package stopwords is already up-to-date!
[nltk_data]    | Downloading package treebank to /Users/swanand-
[nltk_data]    |     walke/nltk_data...
[nltk_data]    |   Package treebank is already up-to-date!
[nltk_data]    | Downloading package twitter_samples to
[nltk_data]    |     /Users/swanand-walke/nltk_data...
[nltk_data]    |   Package twitter_samples is already up-to-date!
[nltk_data]    | Downloading package omw to /Users/swanand-
[nltk_data]    |     walke/nltk_data...
[nltk_data]    |   Package omw is already up-to-date!
[nltk_data]    | Downloading package omw-1.4 to /Users/swanand-
[nltk_data]    |     walke/nltk_data...
[nltk_data]    |   Package omw-1.4 is already up-to-date!
[nltk_data]    | Downloading package wordnet to /Users/swanand-
[nltk_data]    |     walke/nltk_data...
[nltk_data]    |   Package wordnet is already up-to-date!
[nltk_data]    | Downloading package wordnet2021 to /Users/swanand-
[nltk_data]    |     walke/nltk_data...
[nltk_data]    |   Package wordnet2021 is already up-to-date!
[nltk_data]    | Downloading package wordnet31 to /Users/swanand-
[nltk_data]    |     walke/nltk_data...
[nltk_data]    |   Package wordnet31 is already up-to-date!
[nltk_data]    | Downloading package wordnet_ic to /Users/swanand-
[nltk_data]    |     walke/nltk_data...
[nltk_data]    |   Package wordnet_ic is already up-to-date!
[nltk_data]    | Downloading package words to /Users/swanand-
[nltk_data]    |     walke/nltk_data...
[nltk_data]    |   Package words is already up-to-date!
[nltk_data]    | Downloading package maxent_ne_chunker to
[nltk_data]    |     /Users/swanand-walke/nltk_data...
[nltk_data]    |   Package maxent_ne_chunker is already up-to-date!
[nltk_data]    | Downloading package punkt to /Users/swanand-
[nltk_data]    |     walke/nltk_data...
[nltk_data]    |   Package punkt is already up-to-date!
[nltk_data]    | Downloading package snowball_data to /Users/swanand-
[nltk_data]    |     walke/nltk_data...
[nltk_data]    |   Package snowball_data is already up-to-date!
[nltk_data]    | Downloading package averaged_perceptron_tagger to
[nltk_data]    |     /Users/swanand-walke/nltk_data...
[nltk_data]    |   Package averaged_perceptron_tagger is already up-
[nltk_data]    |       to-date!
[nltk_data]    |
[nltk_data]  Done downloading collection popular

All Plots done
Time to run AutoViz = 37 seconds

 ###################### AUTO VISUALIZATION Completed ########################

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3
109167,1000092,P00296242,F,18-25,4,B,1,0,8,NaN,NaN
155255,1005058,P00346642,M,55+,17,C,0,1,8,NaN,NaN
229953,1000347,P00115942,F,55+,1,A,1,0,8,17.0,NaN
115376,1003829,P00202242,F,26-35,1,B,1,0,10,16.0,NaN
20891,1002259,P00085642,F,55+,16,C,1,1,5,14.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...
61231,1004451,P00084442,M,26-35,14,B,2,1,13,16.0,NaN
188451,1002344,P00174242,M,26-35,12,A,1,0,15,16.0,NaN
196053,1002050,P00366542,F,36-45,3,C,2,0,5,NaN,NaN
189639,1004086,P00286642,F,0-17,10,B,2,0,11,14.0,NaN
162004,1003509,P00006942,M,18-25,4,A,0,0,1,5.0,6.0